<div class="container">
<nav class="nav flex-column nav-pills nav-fill">
    <a class="nav-link" routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
    <a class="nav-link" routerLink="/nosotros" routerLinkActive="active" ariaCurrentWhenActive="page">Nosotros</a>
    <a class="nav-link" routerLink="/servicios" routerLinkActive="active" ariaCurrentWhenActive="page">Servicios</a>
    <a class="nav-link" routerLink="/contactos" routerLinkActive="active" ariaCurrentWhenActive="page">Contactos</a>
</nav>
</div>